PORT=
MONGO_URI=
EMAIL_USER=
EMAIL_PASS=

SMTP_HOST=
SMTP_PORT=
SMTP_MAIL=
SMTP_PASS=
MAIL_FROM=

JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
GOOGLE_API_KEY=

SUCCESS_URL=
FAILURE_URL=

# eSewa Configuration
ESEWA_MERCHANT_ID=
ESEWA_SECRET=
ESEWA_PAYMENT_URL=
ESEWA_PAYMENT_STATUS_CHECK_URL=

# Khalti Configuration
KHALTI_SECRET_KEY=
KHALTI_PUBLIC_KEY=
KHALTI_PAYMENT_URL=
KHALTI_VERIFICATION_URL=



# QR Code Base URL (optional)
QR_BASE_URL=
